<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh-cn">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jiangyong Fan" />
   <link href="http://feeds.feedburner.com/fuhuoshe" rel="alternate" title="复活社" type="application/atom+xml" />
 
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>


<div class="site">
  <div class="title">
    <a href="/">『复活社』</a>
    <a class="extra" href="/">封面</a>
    &nbsp;&nbsp;<a class="extra" href="/life.html">生活</a>
    &nbsp;&nbsp;<a class="extra" href="/product.html">产品观察</a>
    &nbsp;&nbsp;<a class="extra" href="/finance.html">关于金融</a>
    &nbsp;&nbsp;<a class="extra" href="/pythoncode.html">python</a>
    &nbsp;&nbsp;<a class="extra" href="/phpcode.html">php</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jiangyong Fan<br />
        Cofounder of <a href="http://github.com/" targen="_blank">PINWEIDUO.com</a><br />
        Jiangyong.Fan@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        微博我：  <a href="http://weibo.com/1592743861" target="_blank">weibo.com/1592743861</a><br />
        域名出售：<a href="#">jirufeng.com</a>&nbsp;|&nbsp;<a href="#">yeeler.com</a>&nbsp;|&nbsp;<a href="#">hefansudi.com</a><br />

        <!--
        <a href="http://twitter.com/mojombo/">twitter.com/mojombo</a><br />
        <a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>
      -->
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/fuhuoshe">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/fanjiangyong"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>
